extends ../common/layout.pug
include ../common/mixins/pagination.pug
include ../common/mixins/articles-list.pug
include ../common/mixins/categories-list.pug
include ../common/mixins/header-choice.pug

block wrapper
  .wrapper

    block header
      +headerChoice()

    block content
      main.articles-category
        h1= category.title
        section.articles-category__theme-list
          h2.visually-hidden Список тем
          +categoriesList(category.id)
        section.articles-category__list.preview
          h2.visually-hidden Список превью статей
          +articlesList()
          - const route = '/articles/category/' + category.id + '/?page='
          +pagination(route)

    block footer
      include ../common/footer.pug
