extends ../common/layout.pug

block wrapper
 .wrapper.wrapper--nobackground

  block header
    include ../common/header-nav.pug

  block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each item, index in articles
          - const commentsList = comments[index]
          each comment in commentsList
            li.publication__list-item
              .publication__header
                img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name Александр Петров
                time.publication__item-time(datetime= comment.createdDate)= comment.createdDate
              a.publication__item-text(href='#')= comment.text
              p.publication__text-strong= item.title
              button.publication__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка

  block footer
    include ../common/footer.pug
