extends ../common/layout.pug

block wrapper
 .wrapper

  block header
    include ../common/header-nav.pug

  block content
    main
      section.modal.modal--flex
        .popup.popup--new-publication.popup--flex
          .new-publication
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                form(action='#' method='POST')
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    - const dateComponents = new Date(data.createdDate).toISOString().split('T')
                    - const articleDate = dateComponents[0].split('-').reverse().join('.')
                    input#new-publication-date(type='text' name='login' placeholder= articleDate)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
            .new-publication__form.form
              form(action='#' method='get')
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text' placeholder='Заголовок' value= data.title required)
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text' value='moya_mashinka.jpg' placeholder='Фотография' readonly)
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file')
                        | Обзор
                    button.button.button--transparent Удалить
                  .new-publication__checkbox.new-publication__checkbox--auto
                    each item in data.category
                      input#checkbox-auto(type='checkbox' name='checkbox-auto')
                      label(for='checkbox-auto')= item
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='2' placeholder='Анонс публикации')= data.announce
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='5' placeholder='Полный текст публикации')= data.fullText
        .modal__overlay

block script
  script(src='/js/vendor.js')
  script(src='/js/main.js')
