extends ../common/layout.pug

block wrapper
 .wrapper.wrapper--nobackground

  block header
    include ../common/header-nav.pug

  block content
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each item in data
            li.notes__list-item
              - const dateComponents = new Date(item.createdDate).toISOString().split('T')
              - const itemDate = dateComponents[0].split('-').reverse().join('.')
              - const itemTime = dateComponents[1].split(':').slice(0, 2).join(':')
              time.notes__item-time(datetime='item.createdDate')= itemDate + ', ' + itemTime
              a.notes__item-text(href='/articles/edit/' + item.id)= item.title
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка

  block footer
    include ../common/footer.pug
