extends ../common/layout.pug

block wrapper
 .wrapper.wrapper--nobackground

  block header
    include ../common/header-admin.pug

  block content
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each item in articles
            li.notes__list-item
              time.notes__item-time(datetime= item.createdDate)= item.createdDate
              a.notes__item-text(href=`/articles/edit/${item.id}`)= item.title
              form(action=`/articles/${item.id}/delete` method='POST' enctype='multipart/form-data' autocomplete='off')
                input(type='hidden' name='_csrf' value= csrf)
                button.notes__button.button.button--close-item(type='submit')
                  span.visually-hidden Закрыть строку списка
  block footer
    include ../common/footer.pug
