header.header
  a.header__logo.logo(href='#')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
  a(href='/articles/add')
    button.button.button--colored.header__button-new Новая запись
  .header__dropdown
    a.button.button--burger.header__burger(href='#') Открыть меню
    ul.navigation.header__navigation
      li.navigation__item
        a(href='/') Главная страница
      li.navigation__item
        a(href='/categories') Список категорий
      li.navigation__item
        a(href='/my') Мои статьи
      li.navigation__item
        a(href='/my/comments') Мои комментарии
      li.navigation__item
        a(href='/articles/add') Создать новую статью
      li.navigation__item
        a(href='/logout') Выход
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')


