extends ../common/layout.pug

block wrapper
 .wrapper

  block header
    include ../common/header.pug

  block content
    main
      h1.visually-hidden Регистрация пользователя
      section
        .popup.popup--registration.popup--anti
          a.popup__button.button.button--popup-close(aria-label='Закрыть окно') Закрыть окно
          h2.popup__title Регистрация
          .popup__form.popup__form--active.form.form--register
            form(action='/register' method='POST' enctype='multipart/form-data' autocomplete='off')
              input(type='hidden' name='_csrf' value= csrf)
              .form__field
                label
                  input(type='email' name='email' value= data.email placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='text' name='name' value= data.firstname placeholder='Имя' required)
              .form__field
                label
                  input(type='text' name='surname' value= data.lastname placeholder='Фамилия')
              .form__field
                label
                  input(type='password' name='password' placeholder='Пароль' required)
              .form__field
                label
                  input(type='password' name='repeat-password' placeholder='Повтор пароля' required)
              if errorsList
                .form__validation-error
                  p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                    each item in errorsList
                      li.form__error= item.message
              .form__image-loader
                a.form__avatar.avatar
                  img(src='img/icons/smile.svg' alt='аватар пользователя')
                label
                  input.visually-hidden(type='file' name='upload')
                  | Загрузить фото профиля
              button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться

  block footer
    include ../common/footer.pug

block script
  script(src='js/vendor.js')
  script(src='/js/main.js')
